<div class="row">
<div class="col-sm-4">
  <ul>
    <a href="/our-network">Our Network</a>
    <h5>MBONs:</h5>
    <a href="/asia-pacific">Asia Pacific</a>
    <a href="/">...</a>
  </ul>
</div>
<div class="col-sm-8">
  <h5>Partners and Affiliated Projects:</h5>
  <div class="row">
    <div class="col-sm-3">
      TODO
      <a href="https://earthobservations.org">
	<img src="img/logo-geo.png" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://geobon.org">
	<img src="img/logo-geobon.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://ioos.noaa.gov">
	<img src="img/logo-ioos.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://www.aircentre.org">
	<img src="img/logo-aircentre.jpg" width="100%"/>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      TODO
      <a href="https://earthobservations.org">
	<img src="img/logo-geo.png" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://geobon.org">
	<img src="img/logo-geobon.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://ioos.noaa.gov">
	<img src="img/logo-ioos.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://www.aircentre.org">
	<img src="img/logo-aircentre.jpg" width="100%"/>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      TODO
      <a href="https://earthobservations.org">
	<img src="img/logo-geo.png" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://geobon.org">
	<img src="img/logo-geobon.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://ioos.noaa.gov">
	<img src="img/logo-ioos.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://www.aircentre.org">
	<img src="img/logo-aircentre.jpg" width="100%"/>
      </a>
    </div>
  </div>
  <div class="row">
    <h5>Working Groups</h5>
    <div class="col-sm-3">
      TODO
      <a href="https://earthobservations.org">
	<img src="img/logo-geo.png" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://geobon.org">
	<img src="img/logo-geobon.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://ioos.noaa.gov">
	<img src="img/logo-ioos.jpg" width="100%"/>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://www.aircentre.org">
	<img src="img/logo-aircentre.jpg" width="100%"/>
      </a>
    </div>
  </div>
</div>
</div>
