<div class="row">
<div class="col-sm-4">
  <ul>
    <a href="/our-network">Our Network</a>
    <h5>MBONs:</h5>
    COMING SOON
    <!-- TODO: fix these 
    <span><a href="../index.html%3Fp=8527.html">AP MBON:
        Asia-Pacific MBON</a></span>

    <span><a href="../index.html%3Fp=9403.html">MBON
        Europe</a></span>

    <span><a href="../index.html%3Fp=8529.html">MBON Pole
        to Pole of the Americas</a></span>

    <span><a href="../index.html%3Fp=8531.html">US MBON</a></span>

    <a href="../index.html%3Fp=8533.html">Arctic</a>

    <a href="../index.html%3Fp=8535.html">California,
      Central</a>

    <a href="../index.html%3Fp=8537.html">California,
      Southern</a>

    <a href="../index.html%3Fp=8539.html">Gulf of
      Maine</a>

    <a href="../index.html%3Fp=8541.html">Pacific
      Northwest</a>

    <a href="../index.html%3Fp=8543.html">South
      Florida</a>

    <a href="../index.html%3Fp=9373.html">Coastal New
      England</a>

    <a href="../us-mbon/mid-atlantic/index.html">Mid-Atlantic</a>

    <a href="../index.html%3Fp=9619.html">Great
      Lakes</a>
    -->
  </ul>
</div>
<div class="col-sm-8">
  <h5>Partners and Affiliated Projects:</h5>
  <div class="row">
    <div class="col-sm-3">
      <a href="http://www.ioccp.org/">
        <img src="img/media_imported_from_wordpress/11285f0786849665b9a5d21181011664e59910d1.png" />
      </a>
      <a href="https://marinegeo.si.edu/">
        <img src="/img/media_imported_from_wordpress/c474c6cf219588639792279532e18d852d87676f.svg" />
      </a>
      <a href="https://geobon.org/">
        <img src="/img/media_imported_from_wordpress/497502fb85d8781feae75b4207b88677aa19af48.png" />
      </a>
      <a href="http://www.iabo.org/">
        <img src="/img/media_imported_from_wordpress/cf60af8fe7d052266f6673f111c72c25c4ab8061.png" />
      </a>

    </div> <!-- /col -->
    <div class="col-sm-3">
      <a href="https://obis.org/">
        <img src="/img/media_imported_from_wordpress/ccef9756cd445a1d04afa05844d7e1b7d7a08e85.png" />
      </a>
      <a href="https://www.blackinmarinescience.org/">
        <img src="/img/media_imported_from_wordpress/fdd76f9789353ecd8f026ae6d21ab004403c4672.png" />
      </a>
      <a href="https://ioos.noaa.gov/">
        <img src="/img/media_imported_from_wordpress/7e1a834b620dc643029beb59f6e0824a53308726.png" />
      </a>
    </div> <!-- /col -->
    <div class="col-sm-3">
      <a href="https://gcrmn.net/">
        <img src="/img/media_imported_from_wordpress/00e048567758f5b87977a0dc1d011bb82d7ed7d0.png" />
      </a>
      <a href="https://www.oceanbestpractices.org/">
        <img src="/img/media_imported_from_wordpress/451e2193f6d90bd9cb47aec6347f86714130d23a.png" />
      </a>
      <a href="https://www.caff.is/monitoring">
        <img src="/img/media_imported_from_wordpress/9f1013a248086b56b791703775eef98bce1fb6c1.png" />
      </a>
    </div> <!-- /col -->
    <div class="col-sm-3">
      <a href="https://ioccg.org/">
        <img src="/img/media_imported_from_wordpress/073972db19e634f61312a5c0633c30ccf803fce9.png" />
      </a>
      <a href="https://emso.eu/">
        <img src="/img/media_imported_from_wordpress/d5610bf3abe22d70efe51abb72312af57f3cbe0d.png" />
      </a>
      <a href="https://www.goosocean.org/">
        <img src="/img/media_imported_from_wordpress/826f866298141a4c37e15068eed8bbd512ed65be.png" />
      </a>
    </div> <!-- /col -->
  </div> <!-- /row -->
  <div class="row">
    <h5>Working Groups</h5>
    COMING SOON
    <!-- TODO: 
    <div class="col-sm-3">
      <a href="biotrack">
        <img src="/img/media_imported_from_wordpress/b1722db386308af902fb2a3bcb2e1d7fa081ad5c.jpg" width="100%" />
      </a>
    </div>
    <div class="col-sm-3">
      <a href="biosound">
        <img src="/img/media_imported_from_wordpress/aafc0ba981f5b5b7b8995871f9561d2a89e2aff6.jpg" width="100%" />
      </a>
    </div>
    -->
  </div> <!-- /row -->
</div>
</div>
