<div class="row">
<div class="col-sm-4">
  <ul>
    <a href="/mbon">MBON</a>
    <a href="/people">People</a>
    <a href="/strategy">Strategy and Implementation Plan</a>
  </ul>
</div>
<div class="col-sm-8">
  <h5>Supporting Organizations</h5>
  <div class="col-sm-3">
    <a href="https://earthobservations.org">
      <img src="img/logo-geo.png" width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://geobon.org">
      <img src="img/logo-geobon.jpg" width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://ioos.noaa.gov">
      <img src="img/logo-ioos.jpg" width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://www.aircentre.org">
      <img src="img/logo-aircentre.jpg" width="100%"/>
    </a>
  </div>
</div>

</div>
