<div class="row">
<div class="col-sm-4">
  <ul>
    <a href="/news">News</a>
    <a href="/events">Events</a>
    <a href="/presentations">Presentations</a>
  </ul>
</div>
<div class="col-sm-8">
  <h5>Photo Hightlights</h5>
  <div class="col-sm-4">
    <a href="https://earthobservations.org">
      <img src="img/logo-geo.png" width="100%"/>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="https://geobon.org">
      <img src="img/logo-geobon.jpg" width="100%"/>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="https://ioos.noaa.gov">
      <img src="img/logo-ioos.jpg" width="100%"/>
    </a>
  </div>
</div>
</div>
