<div class="row">
<div class="col-sm-4">
  <ul>
    <a href={{ "mbon" | relURL }}>MBON</a>
    <a href={{ "people" | relURL }}>People</a>
    <a href={{ "strategy" | relURL }}>Strategy and Implementation Plan</a>
  </ul>
</div>
<div class="col-sm-8">
  <h5>Supporting Organizations</h5>
  <div class="col-sm-3">
    <a href="https://earthobservations.org">
      <img src={{ "img/logo-geo.png" | relURL }} width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://geobon.org">
      <img src={{ "img/logo-geobon.jpg" | relURL }} width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://ioos.noaa.gov">
      <img src={{ "img/logo-ioos.jpg" | relURL }} width="100%"/>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://www.aircentre.org">
      <img src={{ "img/logo-aircentre.jpg" | relURL }} width="100%"/>
    </a>
  </div>
</div>
</div>
