<header class="navbar-affixed-top" data-spy="affix" data-offset-top="62">
  <div class="navbar navbar-default yamm {{ if .Site.Params.dropdown_mouse_over }}mouseover{{ end }}" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand home" href="{{ .Site.Params.baseurl | relLangURL }}">
          {{ if default false .Site.Params.disabled_logo }}
            <h4>{{ .Site.Params.logo_text }}</h4>
          {{ else }}
            <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm" />
            <img src="{{ .Site.Params.logo_small | relURL }}" alt="{{ .Title }} logo" class="visible-xs visible-sm" />
          {{ end }}
          <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
        </a>
        <div class="navbar-buttons">
          <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">{{ i18n "navToggle" }}</span>
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
      </div>
      <!--/.navbar-header -->

      <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{ $current := . }}

          {{ range .Site.Menus.main.ByWeight }}
            {{ $topLevel := replace .URL "/" "" }}
            {{ $active := "" }}

            {{ if eq $current.RelPermalink .URL }}
              {{ $active = "active" }}
            {{ end }}

            {{ if eq $current.Type $topLevel }}
              {{ $active = "active" }}
            {{ end }}

            {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
              {{ range (split .URL "/") }}
                {{ if eq "blog" . }}
                  {{ $active = "active" }}
                {{ end }}
              {{ end }}
            {{ end }}
	    {{ $shouldDropDown := or (.HasChildren) (.Params.customPartial) }}
            {{ if $shouldDropDown }}
              {{ $hasSections := or (hasPrefix (index .Children 0).Identifier "section.") (.Params.customPartial) }}
              <li class="dropdown{{ if $hasSections }} use-yamm yamm-fw{{ end }} {{ $active }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ .Name }} <span class="caret"></span>
                </a>
                {{ if $hasSections }}
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
			{{ if ne .Params.customPartial "" }}
			  {{ with .Params.customPartial }}
			    {{ partial . $ }}
			  {{ end }}
			<!-- GRID LAYOUT -->
                        {{ else if eq .Params.layout "grid" }}
                          <div class="row">						    
			    <!-- col foreach section -->
			    {{ if .HasChildren }}
			      {{ range .Children.ByWeight }}
                                <div class="col-sm-{{ .Params.colsize }}">
                                  <h5>{{ .Name }}</h5>
                                  {{ if .HasChildren }}
  				    <ul>
				      <!-- li foreach link -->
  				      {{ range .Children.ByWeight }}
   				                {{ if ne .Params.img "" }}
        			          <a href="{{ if .Page }}{{ .Page.RelPermalink }}{{ else }}{{ .URL }}{{ end }}">
	                      	            <img src="{{ .Params.img | relURL }}" class="img-responsive hidden-xs"/>
		               		  </a>
			      	        {{ else }}
  		        	          <a href="{{ if .Page }}{{ .Page.RelPermalink }}{{ else }}{{ .URL }}{{ end }}">
  			                    {{ .Name }}
  			                  </a>
  			                {{ end }}
  			              {{ end }}
  			            </ul>
				  {{ end }}
			        </div>
			      {{ end }} <!-- /foreach section -->
                            {{ end }}
                          </div>
                        {{ else }}
                          <!-- default image_and_list layout -->
                          <div class="row">
                            {{ if ne .Params.img "" }}
                              <div class="col-sm-6">
                                <img src="{{ .Params.img | relURL }}" class="img-responsive hidden-xs"/>
                              </div>
                            {{ end }}
                            {{ $item := . }}
                            {{ range $i := seq 1 4 }}
                              <div class="col-sm-3">
                                {{ range $item.Children.ByWeight }}
                                  {{ if eq (printf "%s" .Post) (printf "%d" $i) }}
                                    <h5>{{ .Name }}</h5>
                                    {{ if .HasChildren }}
                                      <ul>
                                        {{ range .Children.ByWeight }}
                                          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                      </ul>
                                    {{ end }}
                                  {{ end }}
                                {{ end }}
                              </div>
                            {{ end }}
                          </div>
                        {{ end }}
                      </div>
                    </li>
                  </ul>
                {{ else }}
                  <ul class="dropdown-menu">
                    {{ range .Children.ByWeight }}
                      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                  </ul>
                {{ end }}
              </li>
            {{ else }}
              <li class="dropdown {{ $active }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          <li class="nav-item" style="position:relative; top:20px;">
            <div class="social" style=" margin-left:10px">
              {{ range .Site.Menus.topbar.ByWeight }}
              <a href="{{ .URL | safeURL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
              {{ end }}
            </div>
	  </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
      <div class="collapse clearfix" id="search">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-template-main"><i class="fas fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>

  </div>
</header>
