<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

	{{ partial "carousel.html" (dict "Site" .Site "dataset" "carousel_main_page") }}


        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}  <!-- supporting organizations -->

	{{ partial "carousel.html" (dict "Site" .Site "dataset" "carousel_bon_highlights") }}


	<div class="row">
	  <div class="col-xs-12">
	    <h1>MBON ECOSYSTEM</h1>
            <p>
	      MBON is a growing global initiative composed of regional networks of scientists, resource managers, and end-users working to integrate data from existing long-term programs to improve our understanding of changes and connections between marine biodiversity and ecosystem functions.
	    </p>
	  </div>
	</div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
